.nsk-menu-container {
  @include card(1);
  @include clearfix;
  width: 90%;
  position: relative;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 3px;
  padding: 2rem 2rem;
  background: $white;
}

.nsk-menu-section {
  @include clearfix;
  display: block;
  margin-top: 2rem;
}

.nsk-menu-title {
  @include clearfix;
  text-align: center;
  margin-bottom: 1rem;
}

.nsk-menu-item {
  @include card(1);
  vertical-align: top;
  width: 250px;
  min-height: 220px;
  float: left;
  border-radius: 3px;
  background: $white;
  text-align: center;
  display: inline-block;
  margin: 0 1rem 2rem 1rem;

  &:hover {
    @include card(3);
  }

  .attachment-thumbnail {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .nsk-item {
    margin: 0;
    padding:  0 1rem;

    &.title {
      font-weight: bold;
      margin: 5px 0 0 0;
    }

    &.description {

      &:last-child {
        margin: 0 0 5px 0;
        font-style: italic;
      }
    }
  }
}

