// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$white: #FFF;
$black: #000;
$dg: #333;
$fb: #3B5998;
$tw: #55acee;
$yp: #c41200;
$insta: #3f729b;
