//////////
// logo //
//////////
.brand {
  display: inline-block;
  float: left;
}


////////////////
// navigation //
////////////////
.banner {
  background: $white;
  border-bottom: 1px solid #DDD;

  .container {
    padding: 10px 0;
  }
}

.nav {
  height: 70px;
  padding-top: 15px;
  padding-left: 20px;
  display: inline-block;

  li {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    padding-left: 3.5rem;
    transition: .5s ease-in-out background;
    background: url("../../dist/images/logo-circle-small.png") 0 100px no-repeat;

    &:hover {
      background: url("../../dist/images/logo-circle-small.png") 0 -2px no-repeat;
    }


    a {
      color: $black;
      font-size: 16px;
      transition: .2s ease-in-out all;
      background: none;

      &.current-menu-item {
        color: gold;
      }

      &:hover {
        color: gold;
        cursor: pointer;
        background: none;
      }
    }
  }
}

//////////////////
// social media //
//////////////////
.nsk-social-media-icons {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  top: 45px;
  right: 55px;

  li {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    width: 40px;
    height: 37px;
    text-align: center;
    margin-left: 5px;
    transition: .2s ease-in-out all;

    &.nsk-fb {
      background-color: $fb;
    }

    &.nsk-tw {
      background-color: $tw;
    }

    &.nsk-yp {
      background-color: $yp;
    }

    &.nsk-insta {
      background-color: $insta;
    }

    &.nsk-delivery {
      @include card(1);
      width: 113px;
      position: relative;
      top: 10px;
      overflow: hidden;
      right: -30px;
      background: $brand-primary;
      white-space: nowrap;

      p {
        display: inline-block;
        float: left;
        font-weight: 600;
        color: $white;
        position: relative;
        top: 4px;
        transition: .2s ease-in-out all;
      }

      i {
        display: inline-block;
        color: $white;
        margin-left: 7px;
        float: left;
        transform: scaleX(-1);
        transition: .2s ease-in-out all;
      }

      &:hover {
        @include card(0);
        background-color: lighten($brand-primary, 10%);

        p {
          transform: translateX(15px);
        }

        i {
          transform: scaleX(-1) translateX(-40px);
        }
      }
    }

    &:hover {
      background-color: gold;
      cursor: pointer;
    }

    a {
      font-size: 20px;

      i {
        color: $white;
      }
    }
  }
}